@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 8px;
  }
  .scrollbar::-webkit-scrollbar-thumb {
    background: rgb(159, 150, 150); 
    border-radius: 10px;
  }
  .scrollbar::-webkit-scrollbar-track {
    background: #e5e7eb; 
  }
}

  .Button{
     @apply px-4 py-2 rounded-md flex justify-center items-center
  }